@use "../abstracts/mixins/mixins" as mixins;
@use "sass:map";
@use "../abstracts/variables" as vars;

.default-button:not(.disable-style-true) {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map.get(vars.$colors, "white");
    color: map.get(vars.$colors, "black");
    cursor: pointer;
    height: 40px;
    max-width: 200px;
    padding: 0 20px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid map.get(vars.$colors, "white");
    transition: 0.3s ease-in-out;

    &:disabled, &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    // Apply all color variants
    @include mixins.default_button-styles(vars.$colors);
}