.main{
    position: relative;
    padding: 0 !important;
    height: 100vh;
    overflow-y: auto;
}

.filter{
    display: flex;
    flex-direction: column;
    background-color: $charcoal;
    width: 400px;
    height: 100%;
    padding: 20px;
    gap: 24px;
    .section{
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }
        .options{
            display: none;
            max-height: max-content;
            flex-direction: column;
            gap: 6px;
            .option{
                display: flex;
                flex-direction: row;
                label{
                    color: $white;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                    svg{
                        path{
                            transition: 0.2s ease-in-out;
                        }
                    }
                    &.checkbox{
                        height: 24px;
                        width: 24px;
                        display: none;
                        align-items: center;
                        justify-content: center;
                        &.active{
                            display: flex;
                        }
                    }
                }
                &:hover{
                    label{
                        color: $orange;
                    }
                    svg{
                        path{
                            stroke: $orange;
                        }
                    }
                }
            }
        }
        &.active{
            .header{                           
                .icon{
                    transform: rotate(180deg);
                }
            }
            .options{
                display: flex;
            }
        }
        &.active{
            .options{
                display: flex;
            }
        }
    }
}