footer{
    padding: 0 $sidespace_header;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: transparent;
    width: 100%;
    .footer-inner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .column{
            .content{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .item{
                    color: $white;
                    &:hover{
                        color: $orange
                    }
                }
            }
        }
    }
}
