@use "sass:map";
@use "../abstracts/variables" as vars;

footer{
    padding: 0 map.get(vars.$sidespace, "header");
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: transparent;
    width: 100%;
    .footer-inner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .column{
            .content{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .item{
                    color: map.get(vars.$colors, "white");
                    &:hover{
                        color: map.get(vars.$colors, "orange");
                    }
                }
            }
        }
    }
}
