.multi-image-uploader{
    width: 100%;
    .dropzone{
        border: 3px dashed $black;
        padding: 32px;
        cursor: pointer;
        &.active{
            border-color: dodgerblue;
        }
    }
    .previews{
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        gap: 12px;
        max-width: 836px;
        flex-wrap: wrap;
        .image-wrapper{
            width: 200px;
            max-width: unset !important;
            max-height: unset !important;
            height: 150px;
            border-radius: 0px !important;
            img{
                width: 100% !important;
                height: 100% !important;
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s ease-in-out;
                &:hover{
                    color: red !important;
                }
            }
        }
        
    }
}