.step-manager{
    width: 300px;
    .step{
        display: flex;
        flex-direction: row;
        align-items: center;
        .number, .name{
            transition: 0.25s ease-in-out;
            cursor: pointer;
        }
        .number{
            color: map-get(vars.$colors, white);
            background-color: map-get(vars.$colors, charcoal);
            font-weight: 700;
            font-size: 18px;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border: 1px solid map-get(vars.$colors, white);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
        }
        .name{
            color: map-get(vars.$colors, white);
            background-color: map-get(vars.$colors, charcoal);
            font-weight: 700;
            font-size: 16px;
            border: 1px solid map-get(vars.$colors, white);
            border-left: unset;
            position: relative;
            left: -8px;
            padding: 6px 0px;
            padding-left: 14px;
            padding-right: 10px;
            z-index: 1;
            min-width: 200px;
            max-width: 300px;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &.hovered, &.active{
            .number{
                color: map-get(vars.$colors, charcoal);
                background-color: map-get(vars.$colors, white);
                border-color: map-get(vars.$colors, charcoal);
            }
            .name{
                color: map-get(vars.$colors, charcoal);
                background-color: map-get(vars.$colors, white);
                border-color: map-get(vars.$colors, charcoal);
                width: unset;
            }
            
        }
    }
    .separator {
        transform: rotate(90deg);
        height: 70px;
        svg{
            height: 120px;
            position: absolute;
            left: 81px;
            top: 94px;
            path{
                fill: map-get(vars.$colors, white);
            }
        }
    }
}