.step-manager{
    .step{
        display: flex;
        flex-direction: row;
        align-items: center;
        .number, .name{
            transition: 0.25s ease-in-out;
            cursor: pointer;
        }
        .number{
            color: $white;
            background-color: $charcoal;
            font-weight: 700;
            font-size: 18px;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border: 1px solid $white;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
        }
        .name{
            color: $white;
            background-color: $charcoal;
            font-weight: 700;
            font-size: 16px;
            border: 1px solid $white;
            border-left: unset;
            position: relative;
            left: -8px;
            padding: 6px 0px;
            padding-left: 14px;
            padding-right: 10px;
            z-index: 1;
        }
        &.hovered, &.active{
            .number{
                color: $charcoal;
                background-color: $white;
                border-color: $charcoal;
            }
            .name{
                color: $charcoal;
                background-color: $white;
                border-color: $charcoal;
            }
            
        }
    }
    .separator {
        transform: rotate(90deg);
        height: 70px;
        svg{
            height: 120px;
            position: absolute;
            left: 81px;
            top: 79px;
            path{
                fill: $white;
            }
        }
    }
}