@use "sass:map";
@use "../abstracts/variables" as vars;

.ticket-shop{
    width: max-content;
    color: map.get(vars.$colors, "black");
    table{
        border-collapse: collapse;
        border-spacing: 0px;
        th, td{
            padding: 10px 20px;
        }
        thead{
            th{
                border: 1px solid black;
                border-bottom: 2px solid black;
            }
        }
        tbody{
            td{
                border: 1px solid black;
            }
        }
    }
}

.ticket-operator{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .name{
        font-weight: bold;
    }
    .operator{
        display: flex;
        flex-direction: row;
    }
}