@use "../../abstracts/variables" as vars;

@mixin button-styles($color-map) {
    @each $name, $color in $color-map {
        // Background color
        .bg-#{$name} {
            background-color: $color;
        }
      
        // Text color
        .text-#{$name} {
            color: $color;
        }
      
        // Border color
        .border-#{$name} {
            border-color: $color;
        }
      
        // Hover variants
        &:hover {
            &.hover-bg-#{$name} {
                background-color: $color !important;
            }
            &.hover-text-#{$name} {
                color: $color;
            }
            &.hover-border-#{$name} {
                border-color: $color;
            }
        }
    }
}
