@use "../../abstracts/variables" as vars;

@mixin default_button-styles($color-map) {
    @each $name, $color in $color-map {
        .bg-#{$name} { background-color: $color; }
        .text-#{$name} { color: $color; }
        .border-#{$name} { border-color: $color; }
        
        &:hover {
            &.hover-bg-#{$name} { background-color: $color !important; }
            &.hover-text-#{$name} { color: $color; }
            &.hover-border-#{$name} { border-color: $color; }
        }
    }
}
