.sidebar{
        background-color: $white;
        height: 100%;
        width: 200px;
    }

.grid-container{
    display: flex;
    justify-content: center;
    .grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px 50px;
        max-width: 1000px;
        .item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 250px;
        }
    }
}