@use "sass:map";
@use "../abstracts/variables" as vars;

.table-wrapper{
    height: 100%;
    top: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    table.manager-table{
        background-color: map.get(vars.$colors, "white");
        width: 100%;
        border-spacing: 0;

        tr{
            &:nth-child(even) {
                background-color: map.get(vars.$colors, "dark_white");
            }
        }
        
        th, td{
            // background-color: map.get(vars.$colors, "white");

            font-size: 22px;
            text-align: unset;
            padding: 32px 20px;
            .inner{
                display: flex;
                flex-direction: column;
                gap: 6px;
                input{
                    all: unset;
                    background-color: map.get(vars.$colors, "white");
                    font-size: 16px;
                    font-weight: 400;
                    padding: 6px 10px;
                    outline: none;
                    border: 1px solid map.get(vars.$colors, "charcoal");
                    border-radius: 18px;
                }
            }
            .action{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
            }
        }

        th{
            border-bottom: 2px solid  map.get(vars.$colors, "black");
            padding: 16px 20px;
        }

        thead{
            th, td{
                padding-bottom: 30px;
            }
        }
    }
    .pagination{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 12px;
        button{
            background-color: map.get(vars.$colors, "charcoal");
            height: 40px;
            width: 40px;
            min-width: 40px;
            border-radius: 100%;
            color: map.get(vars.$colors, "white");
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: 1px solid map.get(vars.$colors, "charcoal");
            font-weight: 700;
            transition: 0.2s ease-in-out;
            &:hover, &.active{
                background-color: map.get(vars.$colors, "white");
                color: map.get(vars.$colors, charcoal);
                svg{
                    path{
                        fill: map.get(vars.$colors, "charcoal");
                    }
                }
            }
            &:disabled{
                fill-opacity: 0.3;
            }
        }
    }
}