.master-main{
    z-index: 2;
    position: relative;
}
.base_page-template{
    min-height: 100vh;
    .background{
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        &.type-red_gradient{
            background: radial-gradient(ellipse 80% 60% at 50% 0%, rgba(255, 80, 120, 0.25), transparent 70%), #000000;
            background: radial-gradient(105% 105% at 50% 0, #ff507840, #0000 80%), #000;
        }
        &.type-orange_gradient{
            background: radial-gradient(ellipse 80% 60% at 50% 0%, rgba(255, 102, 0, 0.25), transparent 70%), #000000;
            background: radial-gradient(105% 105% at 50% 0, #ff7b0040, #0000 80%), #000;
        }
    }
    *{
        color: $black;
    }
    main{
        padding: 50px $sidespace;
    }
}