@use "../abstracts/variables" as vars;

.base_page-template{
    position: relative;
    top: 0;
    width: 100%;
    min-height: calc(100vh - map-get(vars.$height, header));
    .master-main{
        position: relative;
        z-index: 2;
    }
    .background{
        position: absolute;
        top: 0;
        width: 100%;
        min-height: calc(100vh - map-get(vars.$height, header));
        z-index: 1;
        &.type-default{
            background-color: map-get(vars.$colors, white);
        }
        &.type-red_gradient{
            background: radial-gradient(ellipse 80% 60% at 50% 0%, rgba(255, 80, 120, 0.25), transparent 70%), #000000;
            background: radial-gradient(105% 105% at 50% 0, #ff507840, #0000 80%), #000;
        }
        &.type-orange_gradient{
            background: radial-gradient(ellipse 80% 60% at 50% 0%, rgba(255, 102, 0, 0.25), transparent 70%), #000000;
            background: radial-gradient(105% 105% at 50% 0, #ff7b0040, #0000 80%), #000;
        }
    }
    *{
        color: map-get(vars.$colors, black);
    }
}