$colors: (
    red: red,
    blue: blue,
    charcoal: #36454F,
    orange: #ff3700,
    white: #ffffff,
    black: #000000,
    grey: #A0A0A0,
    submit_green: #28ff00,
    abort_red: #ff0000,
);

$sidespace: (
    default: 0,
    header: 5%,
);

$width: (
    mobile: 768px,
    tablet: 1400px,
);

$height: (
    header: 100px,
);