// colors
$red: red;
$blue: blue;
$charcoal: #36454F;
$orange: #ff3700;

// spacings
$sidespace_header: 5%;
$sidespace: 7.5%;

// shadows

// widths
$mobile_width: 786px;
$tablet_width: 1400px;

// @forward "variables";