// colors
$red: red;
$blue: blue;
$charcoal: #36454F;
$orange: #ff3700;
$white: #ffffff;
$black: #000000;

$submit_green: #28ff00;
$abort_red: #ff0000;

// spacings
$sidespace_header: 5%;
$sidespace: 0;

// shadows

// widths
$mobile_width: 786px;
$tablet_width: 1400px;