@use "sass:color";

.nav-profile-icon{
    circle, path{
        stroke: color.scale($white, $lightness: -20%);
        transition: 0.2s ease-in-out;
    }
    &:hover{
        circle, path{
            stroke: color.scale($white, $lightness: -20%);
        }
    }
}